.toast {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 80px;
    font-size: 15px;
    z-index: 1000;
    color: #0f0f0f;
    font-weight: 600;

}

.toast.success {
    background: #e0f8e0;
    color: #155724;
}

.toast.error {
    background: #fbe3e4;
    color: #721c24;
}

.toast.hidden {
    display: none;
}